html {
    height: 100%;
}
body {
    position: relative;
    background-color: rgb(249, 249, 249);
    color: rgb(28, 28, 28);
    line-height: 1.6;
    font-family: Consolas, Monaco, monospace;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 0;
    flex: 1;
}
a {
    color: rgba(30, 8, 227, 0.631);
    text-decoration: none;
}
a:hover {
    background-color: rgba(208, 198, 198, 0.5);
    border-radius: 4px;
}
.cmd {
    color: rgba(15, 15, 15, 0.5);
}
.prompt {
    color: rgba(255, 0, 0, 0.8);
}
.wrap {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 0;
}
.courses{
    font-size: large;
    padding-left: 15px;
}
.signature {
    font-family: cursive;
    font-size: 1.5em;
}
footer {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 1em;
    text-align: left;  
    width: 100%;
}
footer small {
    display: block;
    text-align: left;
    padding-left: 0;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(28, 28, 28);
        color: rgb(238, 238, 238);
    }
    .cmd,
    .prompt {
        color: rgba(92, 253, 92, 0.635);
    }
    a {
        color: rgba(92, 253, 92, 0.635);
    }
    a:hover {
        background-color: rgb(38, 38, 38);
    }
}
