:root {
  /* assign variables */
  --main-dark-color: rgb(22, 22, 22);
  --main-light-color: rgb(249, 249, 249);
}
body {
    margin: 0 auto;
    display: grid;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    line-height: 1.6;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    gap: 15px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    max-width: 800px;
}
header,
main,
footer {
  grid-column: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", 'Times New Roman', Times, serif;
}
a {
    color: rgba(30, 8, 227, 0.631);
    text-decoration: none;
}
a:hover {
    background-color: lightyellow;
    border-radius: 4px;
    /* padding: 0 5px; */
}
.cmd {
    color: rgba(15, 15, 15, 0.5);
}
.prompt {
    color: rgba(255, 0, 0, 0.8);
}
.courses{
    font-size: large;
    padding-left: 15px;
}
.signature {
    font-family: "Dancing Script", cursive;
    font-size: 1.5em;
}
footer {
    font-size: 0.8em;
    padding: 1em 0 1.2em 0;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--main-dark-color);
        color: var(--main-light-color);
    }
    .cmd,
    .prompt {
        color: rgba(92, 253, 92, 0.635);
    }
    a {
        color: rgba(173, 216, 230, 0.684);
    }
    a:hover {
        background-color: rgb(38, 38, 38);
    }
}
@media screen and (max-width: 799px ) {
    body {
        padding: 0 1em;
    }
    
}

@media screen and (max-width: 600px ) {
    body {
        padding: 0 0.6em;
    }
    
}